*

!/.github/
!/custom/
!/references/

!/.github/FUNDING.yml
!/references/info.yml
!/references/gitlab.rb.template

!/.editorconfig
!/.gitattributes
!/.gitignore
!/.markdownlint.yml
!/CODE_OF_CONDUCT.md
!/LICENSE
!/README.md
!/sample..env
!/sample.docker-compose.yml

!.keep
